@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --color-background: #000000;
  --color-foreground: #ededed;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #000000;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}
